name: CI - SonarScan, Build, Imagescan, push
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  
  docker-build:
    name: DockerBuild
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag f1racereplay:v1 && docker images
    - name: Save Docker image
      run: docker save flracereplay:v1 | gzip > flracereplay.tar.gz
    - name: Upload image as artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: flracereplay.tar.gz

  trivy:
    name: trivy-scanner
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
    - name: Download Docker image
      uses: actions/download-artifact@v4
      with:
        name: docker-image
        path: flracereplay.tar.gz
    - name: Load Docker image
      run: docker load < flracereplay.tar.gz
    - name: Scan docker images for vulnerabilitis
      uses: aquasecurity/trivy-action@0.33.1
      with:
          image-ref: 'f1racereplay:v1'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'